<div class="banner">
  <div class="container">
    <h1>Mister Cocktail</h1>
  </div>
</div>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
         <%= link_to "All cocktails", cocktails_path, class: "nav-link active" %>
      </li>
      <li class="nav-item">
        <%= link_to "Add your cocktail", new_cocktail_path, class: "nav-link" %>
      </li>
    </ul>
      <%= simple_form_for :search, url: root_path, method: "GET", html: { class: 'form-inline my-2 my-lg-0' } do |f| %>
        <%= f.input :name, label: false ,input_html: {value: ""} %>
        <%= f.submit "Search a cocktail", class: "btn btn-outline-success ml-2" %>
      <% end %>
  </div>
</nav>


<div class="container">
  <div class="row mt-3 justify-content-md-center ">
    <% @cocktails.order('random()').each do |cocktail| %>

      <div class="card-trip m-2">
        <% if cocktail.photo.attached? %>
          <%= cl_image_tag cocktail.photo.key, height: 200, width: 300, crop: :fill %>
        <% else %>
         <img src="https://source.unsplash.com/featured/?cocktail,<%= cocktail.name %>" />
        <% end %>
        <div class="card-trip-infos">
          <div>
            <h2><%= cocktail.name %></h2>
          </div>
          <h2 class="card-trip-pricing"> <%= link_to "See detail", cocktail_path(cocktail), class: "btn btn-success" %></h2>
        </div>
      </div>
    <% end %>
  </div>
</div>


<div class="footer mt-5">
  <div class="footer-links">
    <a href="https://github.com/Eval160" target=”_blank”><i class="fab fa-github"></i></a>
    <a href="https://twitter.com/Eval160" target=”_blank”><i class="fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com/in/valentine-ecrepont-539519197/" target=”_blank”><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This app is made with <i class="fas fa-heart"></i> (Alcohol abuse is bad for your health, please consume in moderation)
  </div>
</div>

