<div class="container">
  <div class="row justify-content-md-center mt-5">
    <div class="col-6 shadow text-center">
      <%= simple_form_for [ @cocktail, @dose ] do |f|%>
        <%= f.input :description %>
        <%= f.association :ingredient, collection: Ingredient.order('name ASC'), as: :select %>
        <%= f.button :submit %>
      <% end %>

      <%= link_to "Back to #{@cocktail.name}", cocktail_path(@cocktail) %>
    </div>
  </div>
</div>
